<div class="container div-container ">
  <div class="row">
    <div class="col-xs-12 col-ms-12 col-md-3 col-lg-3">
      <ul class="nav nav-pills nav-stacked " role="tablist">
        <li id="li-profile" class="active">
          <a ui-sref='.profile' >Your profile</a></li>
        <li id="li-add-event">
          <a ui-sref='.event'>Events</a></li>
        <li id="li-user" >
          <a ui-sref='.user'>User</a></li>
      </ul>
    </div>
    <div class="div-admin col-xs-12 col-ms-12 col-md-9 col-lg-9" style="padding:0px;" >
      <div class="div-part col-xs-12 col-ms-12 col-md-12 col-lg-12 " ui-view  >
    </div>


  </div>
  </div>
</div>
