<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 frame">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="text-center">Where would you like to go?</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="input-group input-group-lg ">
                        <span class="input-group-addon glyphicon glyphicon-send square"></span>
                        <input onsubmit="$('#from').blur();return false;"
                              type="text" class="form-control" id="from"   type="text"
                              ng-focus="focusInputGo()" ng-blur="blurInputGo()"
                              value="" name="q" placeholder="From..." >
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="input-group input-group-lg rowTo">
                        <span class="input-group-addon glyphicon glyphicon-screenshot"></span>
                        <input  onsubmit="$('#to').blur();return false;" type="text"
                          ng-blur="blurInputTo()" ng-focus="focusInputTo()"
                          class="form-control" id="to"   type="text"
                           value="" name="q" placeholder="To..." >
                    </div>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-6 col-lg-1"></div>
            </div>

            <br>
            <div class="row ">
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 ">
                    <div data-toggle="buttons" class="row rowbutton">
                        <label class="btn  square col-xs-6 col-sm-6 col-md-6 active .btn-toogle" ng-click="disbaleRoundTripA()">
                            <input type="radio" name="" value="">One Way</label>
                        <label class="btn square col-xs-6 col-sm-6 col-md-6 .btn-toogle" ng-click="disbaleRoundTripB()">
                            <input type="radio" name="" value="">Round Trip</label>
                    </div>
                </div>
            </div>

            <div class="row rowdate">
                <div class="col-xs-0 col-sm-1 col-md-2 col-lg-2"></div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 rowTo">
                    <div class="input-group input-group-md ">
                        <span class="input-group-addon square">Departure</span>
                        <input id="dateGo"  value="" data-valuee="" name="date" type="date" class="form-control datepicker" placeholder="Departure">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 rowTo">
                    <div class="input-group input-group-md ">
                        <span class="input-group-addon square">Return</span>
                        <input ng-disabled="activeButton" id="dateTo"  s value="" data-valuee="" name="date" type="date" class="form-control datepicker" placeholder="Return">
                    </div>
                </div>
                <div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 submit">
                    <button ng-click="eventSubmit();" type="button  btn-group-lg" class="btn center-block square btn-submit">
                        Submit</button>
                </div>
                <p class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="libs/js/find-train/find-train.js"></script>
<div ui-view></div>
