<div class="container conten_size">
  <div class="row title">
    <p class="tick_inf"><b> TICKET INFORMATION</b></p>
  </div>
  <div class="row ticket1">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <p class="text_tks">Thank you for using passenger transport services of the Corporation Vietnam Railways. You've made the booking success with detailed information such as the following:</p>
      <p class="tickcode"> Ticket code: <span class="color_tick"> {{tickcode}} </span></p>
      <p class="seatcode"> Seat code: <span class="color_tick">{{seatcode}}</span></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <p class="text_Check"> If you want to check information of tickets, please enter ticket code here!</p>
      <div class="input-group txt_height">
        <span class="input-group-addon icon_color"><i class="fa fa-ticket fa-fw"></i></span>
        <input type="text" class="form-control txt_height" ng-model="_idSearch" placeholder="Enter ticket code" />
      </div>
      <button ng-click="search()" class="btn btn-primary active bt_delete "><span class="fa fa-search"></span> Search</button>
      <!-- <p class="deletetick"> {{result}}</p> -->
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bank">
      <p class="success"> Please use the code <span class="color_tick">{{tickcode}}</span> to execute payment transactions through InternetBanking payment levy or agents authorized by Railway Corporation Vietnam include:</p>
      <p class="fa fa-envelope ev_edit"><a href="http://vr.com.vn/cac-quy-dinh/dia-chi-thanh-toan-tai-ngan-hang-vib.html" target="#"> The billing address VIB bank</a></p>
      <br>
      <p class="fa fa-envelope ev_edit"><a href="http://vr.com.vn/cac-quy-dinh/dia-chi-thanh-toan-tai-buu-dien.html" target="#"> The billing address at the post office</a></p>
    </div>
  </div>
  <div class="row conten_size ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 conten_left">
      <p class="color_table"><b>Ticket information</b></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <th>Full name</th>
            <th>Indentity card</th>
            <th>Object</th>
            <th>Type seat</th>
            <th>Infor ticket</th>
            <th> Date buy </td>
            <th>State</th>
            <th>Into money</th>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" class="text_train"><b>{{TrainJourney}}<br> {{datego | date:'yyyy-MM-dd HH:mm:ss'}}</b></td>
            </tr>
            <tr>
              <td>{{namecustomer}}</td>
              <td>{{Indentitycard}}</td>
              <td>{{object}}</td>
              <td>{{typeseat}}</td>
              <td>{{inforticket}}</td>
              <td>{{datebuy | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              <td>{{state}}</td>
              <td>{{money}}</td>
            </tr>
            <tr>
              <td colspan="7" style="text-align: right;"><b>Total</b></td>
              <td>{{TotalPrice}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 conten_left_tax">
      <p class="color_table"><b>Customer information</b></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped ">
          <tbody>
            <tr>
              <td>1</td>
              <td><b>Full name:</b></td>
              <td>{{namecustomer}}</td>
            </tr>
            <tr>
              <td>2</td>
              <td><b>ID card:</b></td>
              <td>{{Indentitycard}}</td>
            </tr>
            <tr>
              <td>4</td>
              <td><b>Phone:</b></td>
              <td>{{phonecustomer}}</td>
            </tr>
            <tr>
              <td>3</td>
              <td><b>Email:</b></td>
              <td>{{email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 delete">
      <p class="color_table"><b>Tax number</b></p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped ">
          <tbody>
            <tr>
              <td>1</td>
              <td><b>Company name:</b></td>
              <td>{{companyname}}</td>
            </tr>
            <tr>
              <td>2</td>
              <td><b>Tax number:</b></td>
              <td>{{taxnumber}}</td>
            </tr>
            <tr>
              <td>3</td>
              <td><strong>Address:</strong></td>
              <td>{{addresscompany}}</td>
            </tr>
            <tr>
              <td>4</td>
              <td><strong>Email:</strong></td>
              <td>{{emailcompany}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text_return"> If you want to return the tickets, please enter ticket code here!</p>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 txt_deloy">
    <div class="input-group txt_height ">
      <span class="input-group-addon icon_color"><i class="fa fa-ticket fa-fw"></i></span>
      <input type="text" ng-model="_idDelete" class="form-control txt_height" placeholder="Enter ticket code" />
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bt_print">
<button type="button" class="btn btn-success bt_print" data-toggle="modal" data-target="#myModal" ng-click = "delete()"><span class="fa fa-trash"></span><b> Delete</b></button>
  <!-- Modal -->
  <!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a small modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

  </div>
</div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 style_text">
      <p>In case of non-print boarding pass, you can save the software on mobile devices such as smart individuals, tablet, ... getting on board and produced (together with identification) for railway staff when required.</p>
      <p>To receive information via SMS instructions, please send a message from a phone number registered to buy tickets to the beginning of 8200 with the syntax: VT Y7WI7I. In which VT is the service activation code, Y7WI7I is your booking code. Fee messaging
        to enable the service is VND 2,000 (two thousand)</p>
      <p>You can contact the customer support center 19006469 for assistance. We serve you 24 hours a day and 7 days a week.</p>
    </div>
  </div>
</div>
</script>
